* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
.btn-01
  {
    width: 150px;
    height: 54px;
    background: url("../images/v2_64.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }

/* Landing Page Css start */
  .container .cards-container .text {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    outline: #698681;
    border: 1px solid black;
    border-radius: 35px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-family: 'Poltawski Nowy', serif;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100;
    height: 100;
  }
  
  .card {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fdfbfb;
    border-radius: 5px;
    width: 100;
    height: 100;
    cursor: pointer;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 125%;
    margin-bottom: 50px;
  }
  
  .drag-and-summary {
    flex-direction: column;
  }

  .drag-drop-area {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .summary-section {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #search {
    border-radius: 15px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 15%;
    padding: 5px;
    font-size: 40px;
    font-size: 20px;
  }

  .searchlogo {
    position: absolute;
    top: 85%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  /* Responsiveness */

  @media screen and (max-width: 600px) {
    
  }



  /* Landing page css ends  */
